
.message-textarea-container {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--secondary-bg);
  padding: 0.5rem;
  position: sticky;
  bottom: 0;
  max-height: var(--message-textarea-height, 80px);
  z-index: 5;
}

.message-textarea-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 35px;
  padding: 5px;
  padding-right: 10px;
  background: var(--background);
  font-size: 16px;
  font-family: sans-serif;
  height: 50px;
}
.message-textarea {
  resize: none;
  flex: 1;
  font-size: inherit;
  font-family: inherit;
  border: none;
  outline: none;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 5px;
  border-radius: inherit;
  width: auto;
  min-width: 0;
  background:transparent;
}

.message-textarea-container .btn {
  border-radius: 50%;
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  //cursor: pointer;
}
.attachment-btn {
  background: #818091;
  padding: 0.375rem;
}
.btn .icon {
  font-size: 20px;
}

ion-button.message-send-btn::part(native) {
  position: relative;
  padding: 0.5rem;
  background: #440283;
  color: #fff;
border-radius:50%;
}

