<div class="message-textarea-container" #textAreaContainer>
  <!-- <div class="typing-users">
          <span *ngFor="let typingUser of typingUsers">
            {{typingUser?.fullname}}
          </span>
          is typing...
        </div> -->
  <!--<div class="attachment-btn-container">
          </div>-->
  <ion-buttons>
    <ion-button slot="icon-only">
      <ion-icon name="add" class="icon"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div class="message-textarea-wrapper">
    <textarea
      [(ngModel)]="textMessage"
      (keydown)="handleKeyDown($event)"
      (paste)="checkInput()"
      placeholder="Type a message"
      name="message-textarea"
      class="message-textarea"
    ></textarea>
    <ion-buttons>
      <ion-button class="emoji-btn" (click)="toggleEmojiBox()">
        <ion-icon name="happy-outline" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="message-btns-container">
      <ion-button
        class="message-send-btn"
        [disabled]="isEmpty"
        (click)="sendMessage()"
      >
        <ion-icon name="send" class="icon"></ion-icon>
      </ion-button>
      <!-- <ion-button class="message-send-btn" *ngIf="isEmpty" (click)="startRecorder()">
              
              <ion-icon name="mic" class="icon"></ion-icon>
            </ion-button> -->
    </div>
  </div>
  <!-- <div class="record-area-container" *ngIf="isRecording">
          <ion-button (click)="playAndPause()">
            <ion-icon slot="icon-only" name="play"></ion-icon>
          </ion-button>
              <ion-button class="message-send-btn" (click)="sendMessage()">
            <ion-icon name="send" class="icon"></ion-icon>
            
          </ion-button>
        </div> -->
  <emoji-mart
    [ngClass]="{show:showEmoji}"
    class="emoji-box"
    (emojiClick)="addEmoji($event)"
  ></emoji-mart>
</div>
