<div
  class="chat-list-container"
  #chatListContainer
  domMutationObserver
  (onMutationObserve)="scrollToBottom($event)"
>
  <ng-container *ngIf="messages?.length; else empty">
    <ng-container *ngFor="let chat of messages">
      <chat-single-chat-audio *ngIf="chat.type==='audio'" [chat]="chat" (ondelete)="deleteFunc($event)"></chat-single-chat-audio>

      <chat-single-chat-text
        (ondelete)="deleteFunc($event)"
        (onedit)="editFunc($event)"
        *ngIf="chat?.type === 'text'"
        [chat]="chat"
      ></chat-single-chat-text>
    </ng-container>
  </ng-container>
</div>

<ng-template #empty>
  <h2>No messages yet</h2>
  <p>Be the first to send a message</p>
</ng-template>
