.channel-active-user {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border-radius: 10px;
  background-color: var(--secondary-bg);
  margin-bottom: 10px;
  width: 100%;
}

.channel-active-user-name {
  font-weight: 500;
  color: currentColor;
  margin-left: 13px;
}

.channel-active-user-status-indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #007f90;
  z-index: 3;
  position: absolute;
  right: -4px;
  bottom: 8px;
  border: inherit;
}
