<div class="container">
  <ion-buttons slot="end">
    <ion-button (click)="dismiss()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Create A Room</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label class="ion-text-uppercase" for="room-name"
        >room name</ion-label
      >
      <ion-input
        type="text"
        id="room-name"
        class="room-name"
        [(ngModel)]="roomName"
      >
      </ion-input>
      <ion-item>
        <ion-label>Allow Messages</ion-label>
        <ion-toggle
          id="message-allowed"
          slot="end"
          [(ngModel)]="messageAllowed"
        ></ion-toggle>
        <ion-note
          >{{
            messageAllowed
              ? "Everyone can send a message"
              : "only admin can send a message"
          }}
        </ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <div class="btns-wrapper">
    <ion-button (click)="dismiss()" fill="clear">cancel</ion-button>
    <ion-button (click)="createRoom()">create</ion-button>
  </div>
</div>
