.single-chat {
  display: flex;
  padding: 10px;
  flex-direction: column;
  font-family: sans-serif;
  position: relative;
  &.current-user{
.single-chat-audio {
  align-self: flex-end;
  background-color: var(--accent-color);
  color: #fff;
} 
ion-icon.icon{
  color:#fff;
  }  
}
}

.single-chat-audio {
  padding: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color:var(--secondary-bg);
  max-width: 400px;
  width: 90%;
  position: relative;
}
.single-chat-audio-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  .single-chat-audio-meta-timestamp{
    color:var(--secondary-color)
  }
}

.single-chat-audio-controls {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  ion-button.single-chat-audio-btn{

&::part(native){
  padding: 0;
  margin: 0;
  --background:transparent;
  box-shadow: none;

}
  }
}
.single-chat-user {
  display: flex;
  align-items: center;
  gap:1rem;
}
.single-chat-user .single-chat-user-name {
  font-weight: 600;
  font-family: inherit;
}
.single-chat-user-avatar-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
}
.single-chat.current-user .single-chat-user {
  align-self: flex-end;
  flex-direction: row-reverse;
}
.single-chat-user {
  margin-top: 10px;
}
.single-chat-user-avatar {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

ion-range.single-chat-audio-range{
  --height:8px;
   padding:0;
   flex:1;
   z-index: inherit;
 
}
ion-icon.icon{
  color:var(--accent-color);
  }