.single-chat {
  display: flex;
  padding: 10px;
  flex-direction: column;
  font-family: sans-serif;
  margin-bottom: 10px;
  position: relative;
}

.single-chat-audio {
  padding: 15px;
  padding-bottom: 10px;
  border-radius: 5px;
  background-color: #f1f3f3;
  max-width: 400px;
  width: 87.5%;
  position: relative;
}
.single-chat-audio-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
}
.single-chat-audio-btn {
}
.single-chat.current-user .single-chat-audio {
  align-self: flex-end;
  background-color: var(--accent-color);
  color: #fff;
}
.single-chat-audio-controls {
  //display: flex;
  //align-items: center;
  //margin-bottom: 10px;
}
.single-chat-user {
  display: flex;
  align-items: center;
  gap:1rem;
}
.single-chat-user .single-chat-user-name {
  font-weight: 600;
  font-family: inherit;
}
.single-chat-user-avatar-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
}
.single-chat.current-user .single-chat-user {
  align-self: flex-end;
  flex-direction: row-reverse;
}
.single-chat-user {
  margin-top: 10px;
}
.single-chat-user-avatar {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

ion-range.single-chat-audio-range{
  --height:4px;
   padding:0;
   
}