
        <div class="single-chat {{isCurrentUser? 'current-user':''}} ion-activatable">
            <ion-ripple-effect *ngIf="isMobile">

            </ion-ripple-effect>
              <div class="single-chat-audio ">
                <div class="single-chat-audio-controls">
                  <ion-range debounce="100" (ionKnobMoveEnd)="seekAudio($event)" [value]="timePlayed" class="single-chat-audio-range" [max]="duration" min="0"> 

                    <ion-spinner slot="start" name="bubbles" *ngIf="isLoading"></ion-spinner>
                    <ion-button slot="start" class="single-chat-audio-btn" (click)="playAndPause()" *ngIf="!isLoading" >
                    
                        <ion-icon class="icon" name="{{isPaused ? 'play':'pause'}}" slot="icon-only" ></ion-icon>
                      
                    </ion-button>

                  </ion-range>
</div>
<div class="single-chat-audio-meta">
  <time>{{formattedTimePlayed}}</time>
  
  <time class="single-chat-audio-meta-timestamp">{{chat?.created_at|dateFormatter}}</time>
</div>
</div>

<div class="single-chat-user" *ngIf="!isCurrentUser">
  <div class="single-chat-user-avatar-wrapper">
    <img src="{{chat?.user?.profile_picture}}" alt="" class="single-chat-user-avatar" />
  </div>
  <div class="single-chat-user-name">
    <span>{{chat?.user?.fullname}}</span>
  </div>
  </div>
        </div>