<div class="room-list-container">
  <div class="room-list-header">
    <div class="room-list-channel-cover-image-wrapper">
      <ion-img class="room-list-channel-cover-image" src="https://images.pexels.com/photos/13146110/pexels-photo-13146110.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">

      </ion-img>
    </div>
    <div class="room-list-channel-image-wrapper">
      <ion-img class="room-list-channel-image" src="https://images.pexels.com/photos/1990241/pexels-photo-1990241.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load">

      </ion-img>
    </div>
  </div>

  <ion-list class="room-list" lines="none">
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    <room-item></room-item>
    
    
  </ion-list>
</div>