.chat-list-container{
    padding: 60px 12px;
    padding-bottom: calc(var(--message-textarea-height,80px) + 15px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 100%;
  background:var(--chat-area-bg);

}