
<div class="chat-list-container" >

<ng-container *ngIf="messages.length else empty">

    <ng-container *ngFor="let chat of messages">
        
        
        <chat-single-chat-audio *ngIf="chat.type==='audio'" [chat]="chat"></chat-single-chat-audio>
        
        
        <chat-single-chat-text *ngIf="chat.type==='text'" [chat]="chat"></chat-single-chat-text>
        
    </ng-container>
</ng-container>
</div>


    <ng-template #empty>
        <h1>No messages yet</h1>
        <p>Be the first to send a message</p>
    </ng-template>