<ion-card>

  
  <div class="card">
  <div class="card-header">
    <div class="card-header-image-wrapper">
      <img src="https://images.pexels.com/photos/12734337/pexels-photo-12734337.jpeg?cs=srgb&dl=pexels-ryan-leeper-12734337.jpg&fm=jpg" alt="" class="card-header-image">
    </div>
    <div class="card-user-image-wrapper"><img src="https://images.pexels.com/photos/13085461/pexels-photo-13085461.jpeg?cs=srgb&dl=pexels-amar-preciado-13085461.jpg&fm=jpg" alt="" class="card-user-image">
    <div class="card-user-status online"></div>
    </div>
  </div>
  <div class="card-content">
    <div class="card-content-user-details">
      <strong class="card-user-fullname">alice</strong><br>
      <span class="card-user-username">AliceInwonder</span>
    </div>
    <div class="card-buttons-container">
  

            <ng-container *ngTemplateOutlet="true? current : others">
              
            </ng-container>
          
         
          
    
      
    </div>
  </div>
</div>

</ion-card>
<ng-template #others>

          
            <ion-button slot="start" fill="solid" class="card-btn">
              <ion-icon slot="start" name="mail-outline"></ion-icon>
              message
            </ion-button>
               <ion-button fill="outline" class="card-btn">
              <ion-icon slot="start" name="person-add-outline"></ion-icon>
              Add friend
            </ion-button>
</ng-template>

<ng-template #current>
<ion-button fill="solid"  class="card-btn">
            <ion-icon slot="start"  name="pencil-outline"></ion-icon>
              Edit profile
            </ion-button>
</ng-template>