$image-bd-radius: 10px 10px 0 0;
$image-height: 200px;
$card-width: 300px;

.container {
  padding: 16px;
  max-width: 1200px;
  margin: 2rem auto;
}
.banner {
  height: 150px;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 16px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(4, 1, 46) 0%,
    rgba(0, 157, 166, 1) 72%
  );
}
ion-card {
  &.card {
    width: 100%;
    max-width: $card-width;
    min-height: 200px;
    .wrapper {
      padding: 1rem;
    }
    .card-title {
      margin-bottom: 0.625rem;
    }
    .card-image-wrapper {
      height: $image-height;
      position: relative;
      border-radius: $image-bd-radius;

      ion-img {
        &.card-image {
          border-radius: $image-bd-radius;
          width: 100%;
          height: 100%;
          object-fit: cover;
          &::part(image) {
            border-radius: inherit;
          }
        }
      }
    }
  }
}
ion-img {
  &.card-mini-image {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: 0 0 0 4px var(--primary-bg);
    position: absolute;
    left: 10px;
    bottom: 10px;
    object-fit: cover;
    &::part(image) {
      border-radius: inherit;
    }
  }
}
