

<ion-content [fullscreen]="true" >
    <ion-header slot="fixed" class="main-view-header">
      <ion-toolbar>
        <ion-menu-button menu="first" slot="start"> </ion-menu-button>
        <ion-title># no title</ion-title>

        <ion-menu-button menu="second" slot="end">
          <ion-icon name="people"></ion-icon>
        </ion-menu-button>
      </ion-toolbar>
      <ion-button (click)="showAction()" expand="block" fill="clear" shape="round">
        Click me
      </ion-button>
    </ion-header>
    <chat-list></chat-list>
    <popover-actions></popover-actions>

    <chat-message-input
    
    ></chat-message-input>
  </ion-content>