<ion-header>
  <ion-toolbar>
    <ion-title>Create an Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="sign-up-form-container">
  <form  class="sign-up-form">

    <ion-item>
      <ion-label position="floating">Your name:</ion-label>
      <ion-input required="" ></ion-input>
    </ion-item>
 
   <ion-item>
      <ion-label position="floating">Username:</ion-label>
      <ion-input required="" ></ion-input>
    </ion-item>
 
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input required="" type="email" ></ion-input>
    </ion-item>
 <ion-item>
      <ion-label position="floating">Password:</ion-label>
      
      <ion-input type="password" #passwordInput required [(ngModel)]="password"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="toggleInputType(passwordInput.type)">
          <ion-icon name="{{passwordInputType==='text'? 'eye-off-outline':'eye-outline'}}" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password:</ion-label>
      
      <ion-input type="password" #confirmPasswordInput required [(ngModel)]="confirmPassword"></ion-input>
      <ion-buttons slot="end">
        <ion-button (click)="toggleInputType(confirmPasswordInput.type)">
          <ion-icon name="{{passwordInputType==='text'? 'eye-off-outline':'eye-outline'}}" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      
    </ion-item>
    <div class="form-info">
      <p>Already have an account? <a href="">Sign in</a></p>
    </div>
    <ion-button class="submit-btn" type="submit" size="large" (click)="signUp()" expand="block">Sign Up</ion-button>
  </form>
</div>

</ion-content>
