<ion-header>
  <ion-toolbar>
    <ion-title>sign-up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="sign-in-form-container">
  <form  class="sign-in-form" >

    <ion-item>
      <ion-label position="floating">Your name:</ion-label>
      <ion-input required="" ></ion-input>
    </ion-item>
 <ion-item>
   <ion-item>
      <ion-label position="floating">Username:</ion-label>
      <ion-input required="" ></ion-input>
    </ion-item>
 <ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input required="" type="email" ></ion-input>
    </ion-item>
 <ion-item>
      <ion-label position="floating">Password:</ion-label>
      
      <ion-input type="password" required></ion-input>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      
    </ion-item>
    <ion-item>
      <ion-label position="floating">Confirm Password:</ion-label>
      
      <ion-input type="password" required></ion-input>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="eye-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
      
    </ion-item>
    <div class="form-info">
      <p>Already have an account? <a href="">Sign in</a></p>
    </div>
    <ion-button class="submit-btn" type="submit" size="large">Sign Up</ion-button>
  </form>
</div>

</ion-content>
