<ion-header>
  <ion-toolbar>
    <ion-title>Create an Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sign-up-form-container">
    <p class="error">{{errorMessage}}</p>
    <form
      class="sign-up-form"
      [formGroup]="signUpForm"
      (submit)="signUp($event)"
    >
      <ion-item>
        <ion-label position="floating">Your name:</ion-label>
        <ion-input required="" formControlName="fullname"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input required="" type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Username:</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password:</ion-label>

        <ion-input
          type="password"
          #passwordInput
          required
          formControlName="password"
        ></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="toggleInputType(passwordInput.type)">
            <ion-icon
              name="{{passwordInputType==='text'? 'eye-off-outline':'eye-outline'}}"
              slot="icon-only"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-note
          >min:6 characters at least one number,one uppercase ,one lowercase and
          one special character</ion-note
        >
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password:</ion-label>

        <ion-input
          type="password"
          #confirmPasswordInput
          required
          formControlName="confirmPassword"
        ></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="toggleInputType(confirmPasswordInput.type)">
            <ion-icon
              name="{{passwordInputType==='text'? 'eye-off-outline':'eye-outline'}}"
              slot="icon-only"
            ></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
      <div class="form-info">
        <p>Already have an account? <a routerLink="/sign-in">Sign in</a></p>
      </div>
      <ion-button
        [disabled]="!signUpForm.valid||isSending"
        class="submit-btn"
        type="submit"
        class="btn-primary btn-round btn-large"
        expand="block"
        ><ion-spinner name="bubbles" *ngIf="isSending"></ion-spinner>
        {{isSending?'Signing up':'Sign Up'}}</ion-button
      >
    </form>
  </div>
</ion-content>
