.sign-up-form-container {
  padding: 15px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
ion-button.submit-btn {
  margin-top: 1rem;
}
.error {
  color: #ff008c;
}
.sign-up-form-container a {
  text-decoration: none;
  color: var(--accent-color);
}
