<ion-split-pane when="xl" contentId="sec">
  <ion-menu
    class="channel-main-menu"
    contentId="sec"
    type="overlay"
    side="start"
    menuId="first"
  >
    <ion-content class="channel-main-menu-content">
      <channel-list></channel-list>
    </ion-content>
  </ion-menu>
  <ion-menu
    class="channel-users-menu"
    side="end"
    menuId="second"
    contentId="sec"
  >
    <ion-header class="channel-users-menu-header">
      <ion-toolbar>
        <ion-title>MEMBERS</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-no-padding channel-users-menu-content">
      <channel-active-users-list></channel-active-users-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="sec"></ion-router-outlet>
</ion-split-pane>
