<ion-header>
  <ion-toolbar>
    <ion-title >Explore</ion-title>
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
<ion-row >

  <ion-card class="card" *ngFor="let channel of channels">
    <div class="card-image-wrapper">
      <ion-img class="card-image" [src]="channel?.channel_cover||'https://images.pexels.com/photos/4038866/pexels-photo-4038866.jpeg?auto=compress&cs=tinysrgb&w=600'"></ion-img>
    </div>
    <div class="wrapper">

      <ion-card-title class="card-title ion-text-capitalize">{{channel?.title || 'no title'}}</ion-card-title>
      
      <ion-button expand="block"  class="btn btn-primary" (click)="joinChannel(channel)">Join</ion-button>
      
    </div>
  </ion-card>
</ion-row>
  </ion-grid>
</ion-content>
