
        <div class="single-chat current-user ">
            <ion-ripple-effect>

            </ion-ripple-effect>
              <div class="single-chat-audio ion-activatable">
                <div class="single-chat-audio-controls">
                  
                  <ion-range value="50">
                    <ion-buttons slot="start" >
                      
                      <ion-button >
                        <ion-icon name="play"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-range>
</div>
<div class="single-chat-audio-meta">
  <time>1:50</time>
  
  <time>5:55pm</time>
</div>
</div>

<div class="single-chat-user">
  <div class="single-chat-user-name">
    <span>Jane mike</span>
  </div>
  <div class="single-chat-user-avatar-wrapper">
    <img src="https://randomuser.me/api/portraits/men/75.jpg" alt="" class="single-chat-user-avatar" />
            </div>
          </div>
        </div>