<ion-button (click)="dismiss()">
  <ion-icon slot="icon-only" name="close"></ion-icon>
</ion-button>
<ion-card>
  <ion-card-header>
    <ion-card-title>Create Your Channel</ion-card-title>
    <ion-card-subtitle>A channel is where you and your friends can hangout</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
<form class="new-room-form">
  <ion-label class="ion-text-uppercase">room name</ion-label>
<ion-input class="channel-name" [(ngModel)]="roomName">

</ion-input>
<ion-item>
  <ion-label>Public</ion-label>
  <ion-checkbox slot="end" [(ngModel)]="isPublic" [checked]="isPublic"></ion-checkbox>
<ion-note>{{isPublic ?'Appears on Explore, anyone can join':'Won\'t appear on explore, only those with invite link can join'}} </ion-note>
</ion-item>
</form>
    Awesome content
  </ion-card-content>
</ion-card>

<ion-button (click)="dismiss()" fill="clear">cancel</ion-button>
<ion-button (click)="createRoom()">create</ion-button>