<div class="container">
  <ion-buttons>
    <ion-button (click)="dismiss()" slot="end">
      <ion-icon slot="icon-only" name="close"></ion-icon>
      <!-- <ion-icon slot="icon-only" name="arrow-back" *ngif="isMobile"></ion-icon> -->
    </ion-button>
  </ion-buttons>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Create Your Channel</ion-card-title>
      <ion-card-subtitle
        >A channel is where you and your friends can hangout</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input-wrapper">
        <ion-label
          position="floating"
          for="channel-name"
          class="ion-text-uppercase"
          >Channel name</ion-label
        >
        <ion-input
          autofocus="true"
          clearInput="true"
          type="text"
          (ionChange)="checkInput()"
          id="channel-name"
          name="channel-name"
          class="channel-name"
          [(ngModel)]="channelName"
        >
        </ion-input>
        <ion-note>min: 3 characters</ion-note>
      </ion-item>

      <ion-item>
        <ion-label for="is-public" >Public</ion-label>
        <ion-toggle
          name="is-public"
          slot="end"
          id="is-public"
          [(ngModel)]="isPublic"
        ></ion-toggle>
      </ion-item>
        <ion-note
          >{{
            isPublic
              ? "Appears on Explore, anyone can join"
              : "Won't appear on explore, only those with invite link can join"
          }}
        </ion-note>
    </ion-card-content>
  </ion-card>
  <div class="btns-wrapper">
    <ion-button (click)="dismiss()" fill="clear" class="btn-clear"
      >cancel</ion-button
    >
    <ion-button
      [disabled]="!isValid || isSending"
      (click)="createChannel()"
      class="btn btn-primary"
      ><ion-spinner
        name="circles"
        [ngClass]="{ 'ion-hide': !isSending }"
      ></ion-spinner> {{isSending:'creating':'create'}}
      </ion-button
    >
  </div>
</div>
