 <div class="single-chat">
          <div class="single-chat-text-wrapper">
            <p class="single-chat-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit.
              Quisquam, at? Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Repudiandae eum ea veritatis amet vitae, unde, recusandae
            </p>
            <div class="single-chat-timestamp">
              <time>5:55pm</time>
            </div>
          </div>
          <div class="single-chat-user">
            <div class="single-chat-user-avatar-wrapper">
              <img
                src=""
                alt=""
                class="single-chat-user-avatar"
              />
            </div>
            <div class="single-chat-user-name">
              <span>Dan holland</span>
            </div>
          </div>
        </div>
       