.single-chat {
  
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  position: relative;
  &.current-user {
    .single-chat-text-wrapper {
      align-self: flex-end;
      border-radius: 40px 20px 0 40px;
      background-color:var(--accent-color);
      color: #fff;
      padding: 10px;
  padding-left: 15px;
    }
  }
}

.single-chat-timestamp {
  text-align: right;
  font-weight: 500;
  margin-top: 10px;
  font-size: 13px;
  color:var(--secondary-color);
}
.single-chat-text-wrapper {
  padding: 10px;
  padding-right: 15px;
  border-radius: 20px 40px 40px 0;
  background: var(--secondary-bg);
  max-width: 87.5%;
  align-self:flex-start;
}

.single-chat-user {
  display: flex;
  align-items: center;
  gap:1rem;
  margin-top: 10px;
  .single-chat-user-name {
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
  }
}
.single-chat-user-avatar-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
}


.single-chat-user-avatar {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
