$padding-start: 25px;
$padding: 12px;

.single-chat {
  --avatar-width: 2.5rem;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  position: relative;
  &.current-user {
    .single-chat-text-wrapper {
      align-self: flex-end;
      border-radius: 20px 0 10px 20px;
      background-color: var(--current-user-chat-bg);
      color: #fff;
      padding: $padding;
      padding-left: $padding-start;
      margin-left: 0;
      margin-right: var(--avatar-width);
    }
    .single-chat-user {
      align-self: flex-end;
      display: flex;
      align-items: center;
    }

    .single-chat-timestamp {
      align-self: flex-end;
      text-align: right;
    }
    .wrapper {
      position: relative;
      align-self: flex-end;
    }
    ion-buttons {
      &.action-btn {
        position: absolute;
        left: -$padding-start;
        right: unset;
        color: var(--current-user-chat-bg);
      }
    }
  }
}

.single-chat-timestamp {
  text-align: right;
  font-weight: 500;
  font-size: 13px;
  color: var(--secondary-color);
  align-self: center;
}
.single-chat-text-wrapper {
  padding: $padding;
  padding-right: $padding-start;
  border-radius: 0 20px 20px 10px;
  background: var(--chat-bg);
  align-self: flex-start;
  min-width: 150px;
  margin-left: calc(var(--avatar-width) + 10px);
}

.single-chat-user {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 5px;
  .single-chat-user-name {
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
  }
}
.single-chat-user-avatar-wrapper {
  width: var(--avatar-width);
  height: var(--avatar-width);
  border-radius: 50%;
  background: #000;
  align-self: center;
}

ion-img.single-chat-user-avatar {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  &::part(image) {
    border-radius: inherit;
  }
}
.wrapper {
  position: relative;
  align-self: flex-start;
  max-width: 95%;
  &:hover {
    ion-buttons {
      &.action-btn {
        visibility: visible;
      }
    }
  }
}
ion-buttons {
  &.action-btn {
    position: absolute;
    right: -$padding-start;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
  }
}
