.single-chat {
  
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin-bottom: 10px;
  position: relative;
}

.single-chat-timestamp {
  // text-align: right;
  font-weight: 500;
  font-size: 13px;
}
.single-chat-text-wrapper {
  padding: 10px;
  padding-bottom: 10px;
  border-radius: 20px 50px 50px 0;
  background: var(--secondary);
  min-width: 300px;
  max-width: 87.5%;
}
.single-chat.current-user .single-chat-text-wrapper {
  align-self: flex-end;
  border-radius: 50px 20px 0 50px;
  background-color:var(--accent-color);
  color: #fff;
}
.single-chat-text{
  
}
.single-chat-user {
  display: flex;
  align-items: center;
  gap:1rem;
}
.single-chat-user .single-chat-user-name {

  font-weight: 600;
  font-family: inherit;
}
.single-chat-user-avatar-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #000;
}
.single-chat.current-user .single-chat-user {
  align-self: flex-end;
  flex-direction: row-reverse;
}
.single-chat-user {
  margin-top: 10px;
}
.single-chat-user-avatar {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
